@use "../utils/variables" as vars;
@use "../utils/mixins" as mixin;

html {
  font-size: 0.6rem;

  @include mixin.respond-to(tablet) {
    font-size: 0.7rem;
  }

  @include mixin.respond-to(desktop) {
    font-size: 0.8rem;
  }
}

body {
  display: flex;
  flex-direction: column;
  background-color: vars.$neutral-color;
  font-family: vars.$font-family-text;
  font-size: 1rem;
  text-align: justify;
  color: vars.$text-color;
}

main {
  @include mixin.center-flex();
  padding: 0 20px;
  width: 100%;
}

h1,
h2,
h3 {
  font-family: vars.$font-family-title;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  padding: 0.5rem;
}

h3::after {
  content: "";
  display: block;
  width: 30%;
  height: 2px;
  background-color: vars.$color-h3-line;
  margin: 0.3rem auto 0.3rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

#home_blog_last_article {
  @include mixin.respond-to(desktop) {
    gap: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.main-section {
  @include mixin.center-flex();
  box-sizing: border-box;
  overflow: hidden;
  width: 100%;
  padding: 0;

  .btn {
    margin: 0 auto;
  }

  p {
    font-size: 2rem;
    padding: 10px;
    background-color: vars.$tertiary-color;
    border-radius: 10px;
  }

  @include mixin.respond-to(desktop) {
    max-width: 2400px;
  }
}

.icon_title {
  @include mixin.center-flex(row, center, left);
  margin-bottom: 20px;
  background-color: vars.$tertiary-color;
  gap: 10px;

  svg {
    font-size: 3rem;
    margin-left: 20px;
  }
}

.text-block {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  background-color: vars.$tertiary-color;
  border-radius: 10px;

  li {
    font-size: 2rem;
    margin-left: 25px;
    list-style-type: square;
  }
}
