@use "../utils/variables" as vars;
@use "../utils/mixins" as mixin;

.article-edit {
  @include mixin.center-flex();
  box-sizing: border-box;
  overflow: hidden;
  margin: 0 auto;
  max-width: 1200px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.article-text-edit {
  background-color: vars.$secondary-color;
  color: vars.$text-light-color;
  padding: 16px;
  margin: 10px;
  font-size: 1.8rem;
  border-radius: 10px;
}

.article-date {
  text-align: center;
}

.article-title-edit {
  text-align: center;
}

.article-category-edit {
  text-align: center;

  &:hover {
    cursor: pointer;
    color: #ffcc00;
  }
}
