// **Palette couleurs**
$primary-color: #c91a09; // Couleur principale (Rouge Lego)
$secondary-color: #0057b8; // Bleu Lego
$tertiary-color: #ffc700; // Jaune Lego

$border-color: orange;

$primary-button-color: #0077ff; // Jaune Lego pour les boutons principaux
$secondary-button-color: #e03434; // Vert Lego pour les boutons secondaires
$hovered-button-color: orange; // Vert Lego pour les boutons secondaires

$neutral-color: #eaeaea; // Fond clair (gris très clair)

$text-color: #000000; // Texte principal (noir)
$text-light-color: #ffffff; // Texte clair en blanc
$color-h3-line: #000000; // Couleur de la ligne sous le titre

// **Polices d'écritures**
$font-family-title: "Fredoka Condensed SemiBold", Arial, Helvetica, sans-serif;
$font-family-text: "Poppins Regular", Arial, Helvetica, sans-serif;
