@use "../utils/variables" as vars;

/// forms for Article ///

.article-form {
  width: 90vw;
  max-width: 800px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  background-color: vars.$tertiary-color;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-input,
.form-select,
.form-textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.form-textarea {
  resize: none;
  height: 150px;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.form-message {
  margin-top: 10px;
  color: #d94117;
}

.loading-message {
  text-align: center;
  margin-top: 20px;
  font-size: 1.2rem;
  color: #555;
}

#user-comment {
  width: 100%;
}

/// forms for Settings ///

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-weight: bold;
}

.form-group input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.form-group.inline {
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

#change-pwd input {
  margin-right: 5px;
  margin-bottom: 20px;
}

/// forms for Contact ///

.contact-form {
  background-color: vars.$tertiary-color;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 20px;

  label {
    display: block;
    margin-bottom: 5px;
  }

  input,
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  textarea {
    height: 100px;
  }
}
